section.hero {
  margin-top: 3rem;
  margin-left: 3rem;
}

/* ========================
    1. Left Section
=========================== */
section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 88px;
  margin-bottom: 30px;
}

section.hero .left-section {
  flex-grow: 1;
}

section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

section.hero .avatar {
  width: 200px;
  height: 194px;
  border-radius: 21%;
  border: 1px solid var(--blue);
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586) inset;
}

section.hero h1.title {
  font-size: 2.8rem;
  line-height: 3.3rem;
  /* margin: 24px 0; */
  margin-left: 25px;
  color: var(--title);
}

section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}

section.hero .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover {
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}

/* ===================================
    2. Right Section ==> animation
====================================== */
section.hero .animation {
  width: 65%;
  translate: 100px 55px;
}

@media (max-width: 1250px) {
  section.hero .animation {
    display: none;
  }
  section.hero h1.title {
    margin: 24px 0;
  }
}
@media (max-width: 1250px) {
  section.hero .parent-avatar.flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.hero .avatar {
    width: 175px;
    height: 194px;
  }
}

section.hero button {
  background-color: rgba(36, 37, 46, 1);
  color: white;
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.6;
  border-radius: 5px;
  transition: 0.3s;
}

section.hero button:hover {
  opacity: 1;
} 
